@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap");

:root {
  --blanco: #fff;
  --blanco-carta: #e4e4e4;
  --azul: #3475ca;
  --negro: #111;
  --azul-oscuro: #003466;
  --azul-service: #07182e;
  --naranja: #f88d2b;
  --naranja-oscuro: #c7701f;
  --gris: #414042;
  --gris-oscuro: #333;
  --fondo-header: #f5f5f5;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

/* --- Inicio de Globales --- */

a:link,
a:visited,
a:active {
  text-decoration: none;
}
p {
  font-size: 2rem;
}
[class$="contenedor"],
.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  padding:0;
  list-style: none;
  margin: 0;
}
.seccion {
  padding: 8rem 0;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.5;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
[class$="heading"] {
  margin: 2rem 0;
}

/* --- Fin de Globales --- */

/* --- Inicio Header --- */

.header {
  background-color: var(--azul-oscuro);
}
.header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .header__grid {
    flex-direction: column;
  }
}
.header__image {
  max-width: 10rem;
}
@media (max-width: 900px) {
  .header__image {
    margin-top: 3rem;
  }
}
@media (max-width: 450px) {
  .header__image {
    margin-top: 2rem;
  }
}
.header__logo {
  margin-left: 2rem;
}
@media (max-width: 900px) {
  .header__logo {
    margin-left: 0;
  }
}
.navigation {
  width: 50%;
  height: 100%;
  min-height: 10rem;
}
@media (max-width: 900px) {
  .navigation {
    margin-top: 1rem;
    width: 100%;
    min-height: 3rem;
  }
}
.navigation__lista {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 900px) {
  .navigation__lista {
    justify-content: space-between;
  }
}
.navigation__enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blanco);
  font-size: 1.8rem;
  width: 100%;
  min-height: 10rem;
}
@media (max-width: 900px) {
  .navigation__enlace {
    min-height: 6rem;
  }
}
@media (max-width: 450px) {
  .navigation__enlace {
    font-size: 1.2rem;
    min-height: 4rem;
  }
}
.navigation__enlace:hover {
  background-color: var(--azul-service);
}
/* --- Fin Header --- */

/* --- Inicio Contenido --- */

.catalogo {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10rem;
}
@media (max-width: 900px) {
  .catalogo {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
}
@media (max-width: 450px) {
  .catalogo {
    margin-top: 6rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 360px) {
  .catalogo {
    margin-top: 4rem;
    margin-bottom: 12rem;
  }
}
.catalogo__heading {
  max-width: 90%;
  margin: 3rem auto;
  text-align: center;
  font-size: 3.5rem;
  color: var(--gris);
}
@media (min-width: 1440px) {
  .catalogo__heading {
    margin-bottom: 6rem;
  }
}
@media (max-width: 900px) {
  .catalogo__heading {
    max-width: 80%;
    margin: 2rem auto;
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .catalogo__heading {
    max-width: 100%;
    margin: 1.5rem auto;
    font-size: 2.4rem;
  }
}
@media (max-width: 360px) {
  .catalogo__heading {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
  }
}
.catalogo__grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 6rem;
  width: 100%;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .catalogo__grid {
    padding: 0rem 2rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 450px) {
  .catalogo__grid {
    margin-top: 2rem;
    padding: 0rem 1rem;
  }
}
.carta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
  transition: 0.1s ease-in-out;
}
@media (max-width: 450px) {
  .carta {
    min-height: 18rem;
  }
}
.carta:hover {
  outline: 0.3rem solid var(--azul-oscuro);
}
.carta__heading {
  color: var(--gris);
  text-align: center;
}
@media (max-width: 900px) {
  .carta__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  .carta__heading {
    font-size: 1.8rem;
  }
}
.carta__heading span {
  display: block;
  font-weight: 400;
}
.carta__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carta__imagen {
  padding: 1rem;
  max-height: 24rem;
  width: 100%;
  margin-bottom: 5rem;
}
@media (min-width: 1440px) {
  .carta__imagen {
    margin-bottom: 10rem;
  }
}
@media (max-width: 900px) {
  .carta__imagen {
    min-height: 28rem;
  }
}
@media (max-width: 450px) {
  .carta__imagen {
    min-height: 18rem;
  }
}
.carta__imagen img {
  max-height: 24rem;
  margin: 0 auto;
}
#catalogo {
  border-radius: 1rem;
}
.carta__boton {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: var(--azul-oscuro);
  border-radius: 0.313rem;
  padding: 1rem;
  width: 100%;
}
.carta__boton a {
  font-size: 1.8rem;
  color: var(--blanco);
}
@media (max-width: 900px) {
  .carta__boton a {
    font-size: 1.4rem;
  }
}
/* --- Fin Contenido --- */

/* --- Inicio Footer --- */

.footer {
  width: 100%;
  background-color: var(--azul-oscuro);
  padding: .5rem;
  margin-top: 3rem;
  position: fixed;
  bottom: 0;
}
@media (max-width: 900px) {
  .footer {
    margin-top: 10rem;
  }
}
.footer__grid {
  text-align: center;
}
.footer__texto {
  color: var(--blanco);
  font-size: 1.4rem;
}
@media (max-width: 450px) {
  .footer__texto {
    font-size: 1rem;
  }
}
/* --- Fin Footer --- */