@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

:root {
    --blanco: #fff;
    --blanco-carta: #e4e4e4;
    --azul: #3475ca;
    --negro: #111;
    --azul-oscuro: #162c3b;
    --azul-service: #07182E;
    --naranja: #F88D2B;
    --naranja-oscuro: #c7701f;
    --gris: #3d4543;
    --gris-oscuro: #333;
    --fondo-header: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* 1 REM = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--blanco);
}

/* --- Start of Enlatado section --- */

.enlatado {
    display: flex;
    flex-direction: column;
}

/* --- End of Enlatado section --- */

/* --- Start of Header section --- */

.header {
    height: 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: height 0.3s ease;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background: var(--azul-oscuro);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.header.scrolled {
    height: 5rem;
}

.logo {
    width: 40%;
}

.logo-image {
    padding: 0.8rem;
    margin-left: 4rem;
    width: 20%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-right: 3rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    height: 100%;
    width: 100%;
}

.nav-item {
    color: var(--blanco) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
}

.nav-item:hover {
    background: var(--blanco);
    color: var(--azul-oscuro) !important;
    cursor: pointer;
}

.nav-item a {
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.nav-item:hover a {
    color: var(--blanco);
    font-size: 1.2rem;
}

/* --- End of Header section --- */

/* --- Start of Container section --- */

.wrapper {
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team {
    text-align: center;
    padding: 3rem 6rem;
    width: 100%;
}

.heading {
    margin-top: 5rem;
    font-size: 3.5rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0rem 6rem;
}

.teamBx {
    width: 40%;
}

.box {
    position: relative;
    background: var(--blanco);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
    transition: 0.1s ease-in-out;
}

.box:hover {
    border: 0.2rem solid var(--azul-oscuro);
}

.box h2 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 1rem;
}

.box h2 span {
    font-size: 2rem;
    font-weight: 400;
}

.imgBx {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imgBx img {
    padding: 2rem;
    background: var(--blanco);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 1rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-botton {
    border: none;
    background-color: var(--azul-oscuro);
    color: var(--blanco) !important;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 0.313rem;
    padding: 0.3rem;
    cursor: pointer;
    width: 100%;
}

.card-botton:hover {
    background-color: var(--azul-service);
    cursor: pointer;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #111;
}

/* --- End of Container section --- */

/* --- Start of Footer Section --- */

.footer {
    position: fixed;
    width: 100%;
    background: var(--azul-oscuro);
    padding: 1.25rem 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin: 0;
    bottom: 0;
}

.footer .text {
    color: var(--blanco);
    font-size: 1.2rem;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    margin: 0 0.625rem;
}

.footer ul li a img {
    max-width: 1.25rem;
    filter: invert(1);
}

/* --- End of Footer Section --- */

/* --- Start of Media Querys --- */

@media (max-width: 1050px) {

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    .card-section {
        margin: 0.5rem;
        padding: 0.75rem;
        top: 2rem;
    }

    .servicios-bio {
        margin-left: 0;
        font-size: 2rem;
        text-align: center;
    }
    
    .team {
        padding: 15rem 3rem;
    }

    .box h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin: 0.8rem;
    }

    .card-list {
        gap: 0.3em;
    }

    .card {
        display: flex;
        justify-content: center;
        margin: 0.75rem;
        flex-direction: column;
    }

    .card-botton {
        width: 90%;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .footer {
        padding: 0.2rem 2rem;
        flex-direction: column;
    }

    .footer .text {
        font-size: 1.2rem;
    }

    .footer ul {
        margin-top: 0.2rem;
        font-size: 0.75rem;
    }

}

@media (max-width: 900px) {

    .header {
        height: 8rem;
    }

    .header-container {
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        gap: 2rem;
    }

    .header.scrolled {
        height: 5rem;
    }

    .logo-image {
        padding: 0.8rem;
        width: 30%;
        transition: 0.3s ease-in-out;
    }

    .logo-image:hover {
        scale: 1.1;
    }

    .nav-list {
        gap: 0.6rem;
    }

    .nav-item {
        margin-right: 0.7rem;
        margin-bottom: 0;
    }

    .nav-item li {
        font-size: 1.4rem;
    }

    .heading {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .container {
        padding: 5rem 0rem;
    }

    .teamBx {
        width: 45%;
    }

    .box h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .box h2 span {
        font-size: 1.5rem;
    }

    .content {
        padding: 0.4rem 0.6rem;
    }

    .content span {
        font-size: 0.9rem;
    }

    .card-botton {
        font-size: 0.9rem;
        margin-left: 0.75rem;
        width: 90%;
    }

}

@media (max-width: 700px) {

    .header {
        height: 8rem;
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    .logo-image {
        width: 60%;
        margin-left: 2.3rem;
    }

    .navigation {
        width: 60%;
        margin-right: 2rem;
    }

    .nav-list {
        padding-bottom: 0.5rem;
        position: relative;
        top: 0.5rem;
        margin-right: 1rem;
    }

    .nav-item li {
        font-size: 1rem;
    }

    .wrapper {
        margin-top: 0rem;
    }

    .team {
        padding: 10rem 3rem;
    }

    .heading {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .container {
        padding: 0.5rem 0rem;
    }

    .teamBx {
        width: 100%;
        margin-bottom: 2rem;
    }

}

/* @media (min-width: 500px) and (max-width: 600px) */

@media (max-width: 400px) {

    .header {
        height: 8rem;
        padding-top: 0.5rem;
    }

    .header-container {
        margin-top: 0.5rem;
        gap: 0.05rem;
        flex-direction: column;
    }

    .header.scrolled .header-container {
        margin-top: 0;
    }

    .header.scrolled {
        height: 5rem;
    }

    .logo {
        margin-bottom: 1rem;
        text-align: center;
    }

    .header.scrolled .logo {
        margin-top: 1rem;
    }

    .logo-image {
        padding-bottom: 0.3rem;
        padding: 0;
        width: 40%;
        margin-right: 0;
        margin-left: 0;
    }

    .navigation {
        display: flex;
        height: 100%;
        width: 70%;
        transition: 0.3s ease-in-out;
        margin-right: 0;
    }

    .nav-list {
        padding-bottom: 0.5rem;
        position: relative;
        top: -0.5rem;
    }

    .header.scrolled .nav-list {
        display: none;
    }

    .nav-item {
        margin: 0 auto;
    }

    .nav-item li {
        font-size: 1rem;
        font-weight: 700;
    }

    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading {
        margin-top: 0.1rem;
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }

    .container {
        margin-top: 1rem;
        padding: 0rem 0rem;
    }

    .teamBx {
        width: 90%;
        margin: 0.7rem auto;
    }

    .box h2 {
        font-size: 2rem;
    }

    .content span {
        padding: 0.2rem;
        font-size: 1.5rem;
    }

    .card-botton {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;
    }

    .footer {
        width: 100%;
    }

    .footer .text {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .footer p {
        text-align: center;
    }

}

/* --- End of Media Querys --- */